:root {
    --black: #282a35;
    --grey: #bcba90;
    --red: #a33635;
    --orange: #c96937;
    --blue: #60bec7;
    --green: #70ac4c;
    --white: #d4d4d4;
    --yellow: #eae174;  
}

@font-face {
    font-family: 'PressStart2P';
    src: url('./src/assets/fonts/PressStart2P.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PixelMPlus';
    src: url('./src/assets/fonts/PixelMPlus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    size-adjust: 120%;
}

@font-face {
    font-family: 'NGC';
    src: url('./src/assets/fonts/NGC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    size-adjust: 120%;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    user-select: none;
    font-family: "PressStart2P", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: #111;
}

input {
    all: unset;
    box-sizing: border-box;
}

#view-port {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#screen-root {
    position: absolute;
    width: 1238px;
    height: 674px;
}

#screen {
    position: absolute;
    width: 1238px;
    height: 674px;
    background: #2a2b2c;

    overflow: hidden;
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    outline: 1px solid black;
}

.stroke {
    text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

.notification-container {
    position: absolute;
    bottom: 0;
    left: 213px;
    right: 213px;
    height: 46px;
    line-height: 56px;
    color: var(--white);
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.link-red {
    cursor: pointer;
    font-weight: 800;
    color: var(--red);
    text-decoration: none;
    border-bottom: 1px solid var(--white);
}

.link-red:hover {
    filter: brightness(1.2);
}

.link-blue {
    cursor: pointer;
    font-weight: 800;
    color: var(--blue);
    text-decoration: none;
}

.pos-right {
    position: absolute;
    right: 0px;
}

.tooltip {
    position: absolute;
    max-width: 300px;
    min-width: 200px;
    height: auto;

    background: rgba(0, 0, 0, 0.9);

    color: var(--white);
    padding: 4px 8px;
    border-radius: 4px;
    outline: 1px solid var(--white);

    box-shadow: 0 2px 8px rgba(0,0,0,0.4);
    transition: opacity 0.2s ease;

    pointer-events: none;
    display: none;
    z-index: 9999;
    text-align: center;
}

.tooltip-achievement {
    font-size: 8px;
    text-shadow: 1px 1px 1px black;
    line-height: 15px;
}

.loading-text {
    position: absolute;
    width: 100%;
    top: 48%;
    transform: translate(0, -50%);
    text-align: center;
    font-size: 12px;
    color: var(--white);
    pointer-events: none;
}

.loading-bar-bg {
    position: absolute;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 20px;
    background-color: #1b1b19;
    outline: 2px solid black;
    overflow: hidden;
    pointer-events: none;
}

.loading-bar {
    height: 100%;
    width: 0%;
    background-color: var(--red);
    border-right: 1px solid black;
    transition: width 0.3s ease;
    pointer-events: none;
}
