.ui-top-bar {
	position: absolute;
	top: 0px;
	left: 258px;
	right: 258px;
	height: 25px;
	background: url("../assets/images/textures/texture3.png"), linear-gradient(90deg,rgba(113, 172, 76, 1) 0%,rgba(42, 43, 44, 1) 40%, rgba(42, 43, 44, 1) 60%, rgba(45, 113, 227, 1) 100%);

	border-bottom: 1px solid black;
	z-index: 1;
}

.ui-bottom-bar {
	position: absolute;
	bottom: 0px;
	left: 258px;
	right: 258px;
	height: 25px;
	background: url("../assets/images/textures/texture3.png"), linear-gradient(270deg,rgba(67, 67, 69, 1) 0%, rgba(52, 52, 54, 1) 100%);
	border-top: 1px solid black;
	z-index: 1;
	overflow: hidden;
}

.ui-challenge {
	position: absolute;
	left: 20px;
	bottom: 5px;
	color: #ebbe35;
	font-size: 10px;
	text-shadow: 1px 1px black;
}

#ui-chrono {
	position: absolute;
	left: 50%;
	bottom: 5px;
	transform: translate(-50%);
	color: var(--white);
	font-size: 10px;
	text-shadow: 1px 1px black;
}

.ui-map-route-container {
	position: absolute;
	left: 50%;
	height: 100%;
	transform: translate(-50%);
	width: 150px;
	display: flex;
	flex-wrap: wrap;
}

.ui-map-route {
	position: relative;
	top: 3px;
	height: 100%;
	width: 70%;

	color: var(--white);
	font-size: 8px;
	line-height: 10px;
	text-shadow: 1px 1px 0 black;
	text-align: center; 
}

.ui-map-record {
	position: relative;
	top: 6px;
	height: 100%;
	width: 30%;

	font-size: 10px;
	line-height: 14px;
	color: #ebbe35;
	filter: drop-shadow(1px 1px black); 
}

.ui-wave-selector-container {
	position: absolute;
	height: 100%;
	left: 20px;
	width: 200px;

	display: flex;
  	justify-content: space-between;
  	align-items: center;   
  	transition: .2s;
  	z-index: 1;
}

.ui-wave-selector {
	position: relative;
	bottom: px;
	width: 20px;
	height: 20px;
	font-size: 8px;
	outline: 1px solid black;
	background: linear-gradient(243deg,rgba(201, 199, 199, 1) 0%, rgba(156, 156, 156, 1) 100%);
	line-height: 22px;
	text-align: center;
	font-weight: bold;
	border-radius: 4px;
	cursor: pointer;
}

.ui-wave-selector:hover {
	filter: brightness(1.2);
}

.ui-wave-selector-label {
	position: relative;
	top: 1px;
	width: 90px;
	text-align: center;
	font-size: 10px;
	color: var(--white);

}
.ui-tiles-count-container {
	position: absolute;
	top: 0px;
	height: 100%;
	right: 20px;
	width: 190px;
	
	display: flex;
  	justify-content: space-between;
  	align-items: center;   
  	transition: .2s;
}

.ui-tiles-count {
	position: relative;
	width: 22%;
	height: 100%;
	color: var(--white);
	font-size: 10px;
	text-shadow: 1px 1px 0 black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ui-tiles-count::before {
  	content: "";
  	position: absolute;
  	width: 20px;      
  	height: 20px;
  	transform: rotate(45deg); 
  	z-index: -1;      
  	outline: 1px solid black;
  	border-radius: 4px;
}

.ui-tiles-count:nth-child(1)::before {
  	background: linear-gradient(135deg, #6fc7a1, #409552);
}
.ui-tiles-count:nth-child(2)::before {
  	background: linear-gradient(135deg, #409552, #2f6f48);
}
.ui-tiles-count:nth-child(3)::before {
  	background: linear-gradient(135deg, #5ea1d9, #2c75b2);
}
.ui-tiles-count:nth-child(4)::before {
  	background: linear-gradient(135deg, #b89184, #8c6b5e);
}

.ui-tiles-count:hover {
	filter: drop-shadow(0 0 5px white);
}

.ui-ditto-button {
	position: absolute;
	bottom: 0px;
	right: 212px;
	width: 40px;
	height: 100%;

	background-position: center;
	background-repeat: no-repeat;
	background-image: url("../assets/images/pokemon/towers/ditto.png");

	cursor: pointer;
}

.ui-ditto-button:hover {
	filter: drop-shadow(0 0 5px white);
}

.ui-save-team-button-container, .ui-import-team-button-container {
	position: absolute;
	top: 0px;
	height: 100%;
	width: 220px;
	
	z-index: 1;
	
	color: var(--white);
	font-size: 10px;

	text-shadow: 1px 1px 0 black;
	text-align: center;

	display: flex;
  	justify-content: space-between;
  	align-items: center;   
  	transition: .2s;
}

.ui-save-team-button-container { left: 10px; }
.ui-import-team-button-container { right: 10px; }

.ui-save-team-button, .ui-import-team-button {
	position: relative;
	outline: 1px solid black;
	line-height: 28px;
	cursor: pointer;
	width: 17%;
	height: 100%;
}

.ui-save-team-button { background: var(--green) }
.ui-import-team-button { background: #2d70e3 }

.ui-save-team-button:hover, .ui-import-team-button:hover { filter: brightness(1.2);}

.ui-player-panel, .ui-map-panel {
	position: absolute;
	width: 256px;
	height: 100%;

	outline: 1px solid black;
	z-index: 1;
	box-shadow: 0 0 5px black;
	 
}

.ui-player-panel {
	left: 0px;
	border-right: 3px solid #888;
	background: url("../assets/images/textures/texture3.png"), linear-gradient(30deg, rgba(67, 67, 69, 1) 0%, rgba(48, 48, 51, 1) 100%);
}

.ui-map-panel {
	right: 0px;
	border-left: 3px solid #888;
	background: #888;
}

/* PLAYER */
/* PLAYER */
/* PLAYER */

.ui-player-portrait {
	position: absolute;
	top: 14px;
	left: 12px;
	height: 80px;
	width: 80px;
	background-position: center;
	filter: drop-shadow(2px 2px 0 var(--black));
}

.ui-player-name {
	position: absolute;
	top: 13px;
	left: 97px;
	font-size: 13px;
	color: var(--white);
	text-shadow: 1px 1px black;
}

.ui-player-stars {
	position: absolute;
	top: 32px;
	left: 95px;
	font-size: 10px;
	line-height: 14px;
	color: #ebbe35;
	filter: drop-shadow(1px 1px black); 
}

.ui-player-gold {
	position: absolute;
	top: 49px;
	left: 97px;
	font-size: 10px;
	color: var(--green);
	filter: drop-shadow(1px 1px black); 
}

.ui-player-health {
	position: absolute;
	top: 64px;
	left: 95px;
	width: 120px;

	display: flex;
	flex-wrap: wrap;
	filter: drop-shadow(1px 1px black); 
}

.ui-player-heart-on {
	position: relative;
	background-image: url("../assets/images/icons/heart.png");
	width: 17px;
	height: 14px;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-player-heart-off {
	position: relative;
	background-image: url("../assets/images/icons/no-heart.png");
	width: 17px;
	height: 14px;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}

.ui-player-limit-line {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 102px;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.ui-pokemon-container {
	position: absolute;
	top: 103px;
	left: 0px;
	right: 0px;
	bottom: -1px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.ui-pokemon {
	position: relative;
	flex: 0 0 50%;
	background: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

.ui-pokemon:nth-child(2),
.ui-pokemon:nth-child(3),
.ui-pokemon:nth-child(6),
.ui-pokemon:nth-child(7),
.ui-pokemon:nth-child(10) {
    background: rgba(0, 0, 0, 0.3);
}

.ui-pokemon-name {
	position: absolute;
	top: 13px;
	width: 100%;
	color: #888;
	text-align: center;
	font-size: 12px;
	text-shadow: 1px 1px black;
}

.ui-pokemon-level {
	position: absolute;
	top: 28px;
	width: 100%;
	text-align: center;
	color: var(--white);
	font-size: 9px;
	text-shadow: 1px 1px black;
}

.ui-pokemon-sprite {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translate(-50%);
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
}

.ui-pokemon-item {
	position: absolute;
	bottom: 40px;
	right: 12px;
	width: 24px;
	height: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.ui-pokemon-shiny {
	position: absolute;
	bottom: 40px;
	left: 12px;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url("../assets/images/icons/shiny.png");
	filter: drop-shadow(0 0 1px black);
	cursor: pointer;
}

.ui-pokemon-shiny:hover {
	filter: drop-shadow(0 0 2px black) brightness(1.2);
}

.ui-pokemon-info, .ui-pokemon-deploy {
	position: absolute;
	bottom: 9px;
	height: 24px;
	font-size: 7px;
	text-align: center;
	line-height: 26px;

	color: var(--white);
	cursor: pointer;
	outline: 1px solid black;
	text-shadow: 1px 1px black;
	transition: .2s;
}

.ui-pokemon-info {
	background: url("../assets/images/textures/texture1.png"), linear-gradient(39deg,rgba(44, 112, 227, 1) 0%, rgba(57, 102, 179, 1) 100%);
	right: 4px;
	width: 42px;

	border-radius: 0 3px 3px 0;
}

.ui-pokemon-deploy {
	background: url("../assets/images/textures/texture1.png"), linear-gradient(39deg,rgba(112, 172, 76, 1) 0%, rgba(102, 145, 77, 1) 100%);
	left: 4px;
	width: 77px;
	border-radius: 3px 0 0 3px;
}

.ui-pokemon-deploy:hover, .ui-pokemon-info:hover {
	filter: brightness(1.2);
}

.ui-pokemon-ditto-bg {
	position: absolute;
	width: 40%;
	height: 40%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: url("../assets/images/pokemon/towers/ditto.png");
	background-size: 100%;
	background-repeat: no-repeat;
	opacity: 0.1;
}

.ui-pokemon-stars {
	position: absolute;
	width: 100%;
	bottom: 8px;
	text-align: center;
	font-size: 10px;
	color: #ebbe35;
	line-height: 14px;
}

.lock {
	filter: grayscale(50%);
	opacity: 0.8;
	line-height: 66px;
	font-size: 30px;
}
/* MAP */
/* MAP */
/* MAP */

.ui-section-container {
	position: absolute;
	top: 0px;
	left: -1px;
	right: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	background: #888;
}

.ui-section {
	position: relative;
	width: calc(100% / 7);
	height: 36px;
	cursor: pointer;
	filter: invert(1) brightness(0.17);
}

.ui-section:hover > .ui-section-img {
	background-size: 23px;
}

.ui-section-img {
	position: absolute;
	top: 1px;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	transition: .1s;
}

.ui-map-panel-background {
	position: absolute;
	top: 37px;
	left: 1px;
	right: 4px;
	height: 481px;
	
	outline: 1px solid black;
	background: url("../assets/images/textures/texture3.png"), linear-gradient(30deg, rgba(67, 67, 69, 1) 0%, rgba(48, 48, 51, 1) 100%);
}

.ui-map-wave-pokemon-container {
	position: absolute;
	top: 20px;
	left: 10px;
	right: 10px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	box-shadow: 0 0 4px black;
}

.ui-info-name {
	position: absolute;
	top: 15px;
	left: 10px;
	right: 10px;
	border-bottom: 2px solid var(--white);
	padding-bottom: 4px;
	text-align: center;
	color: var(--white);
	filter: drop-shadow(1px 1px black);
}

.ui-info-stat-container {
	position: absolute;
	top: 58px;
	left: 20px;
	right: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	filter: drop-shadow(1px 1px black);
}

.ui-info-stat {
	width: 100%;
	color: var(--white);
	font-size: 10px;
}

.ui-map-wave-pokemon {
	position: relative;
	top: 1px;
	width: 34px;
	height: 34px;
	background-position: center;

	background-repeat: no-repeat;
	cursor: pointer;
}

.ui-info-container {
	position: absolute;
	top: 70px;
	height: 300px;
	width: 100%;
}

.ui-wave-button-background{
	position: absolute;
	bottom: 0px;
	height: 154px;
	left: -1px;
	right: 0px;
	background: #888;
}

.ui-auto-wave {
	position: absolute;
	bottom: 99px;
	left: 1px;
	right: 56px;
	height: 51px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: url("../assets/images/textures/texture1.png"),
		linear-gradient(39deg, rgba(44, 112, 227, 1) 0%, rgba(57, 102, 179, 1) 100%);

	color: var(--white);
	font-size: 16px;
	line-height: 1;

	text-align: center;
	text-shadow: 1px 1px 1px black;
	outline: 1px solid black;

	box-sizing: border-box;
	cursor: pointer;
	transition: .2s;
}

.ui-speed-wave {
	position: absolute;
	bottom: 99px;
	right: 4px;
	width: 47px;
	height: 51px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: url("../assets/images/textures/texture1.png"),
		linear-gradient(0deg, rgba(194, 177, 183, 1) 50%, rgba(194, 177, 183, 1) 50%);

	color: var(--white);
	font-size: 16px;
	line-height: 1;

	text-align: center;
	text-shadow: 1px 1px 1px black;
	outline: 1px solid black;

	box-sizing: border-box;
	cursor: pointer;
	transition: .2s;
}

.ui-next-wave {
	position: absolute;
	bottom: 4px;
	left: 1px;
	right: 4px;
	height: 89px;

	display: flex;
	align-items: center;
	justify-content: center;

	background: url("../assets/images/textures/texture1.png"),
		linear-gradient(39deg, rgba(163, 54, 53, 1) 0%, rgba(133, 60, 58, 1) 100%);

	color: var(--white);
	font-size: 18px;
	line-height: 24px;
	text-align: center;

	text-shadow: 1px 1px 0 black;
	outline: 1px solid black;

	box-sizing: border-box;
	cursor: pointer;
	transition: .2s;
}

.ui-next-wave:hover, .ui-auto-wave:hover, .ui-speed-wave:hover {
	filter: brightness(1.2);
}

.ui-damage-dealt-container {
	position: absolute;
	top: 36px;
	left: 0px;
	right: 0px;
	bottom: 155px;
	background: #333;
	display: flex;
	flex-wrap: wrap;
	display: none;
	text-shadow: 1px 1px black;

	position: absolute;
	top: 37px;
	left: 1px;
	right: 4px;
	height: 481px;

}

.ui-damage-dealt-unit {
	position: relative;
	width: 100%;
	height: 10%;
}

.ui-damage-dealt-unit:nth-child(2n) {
	background-color: rgba(0, 0, 0, 0.1);
}

.ui-damage-dealt-unit-sprite {
	position: absolute;
	
	left: 10px;
	bottom: 0px;
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
}

.ui-damage-dealt-unit-number {
	position: absolute;
	left: 65px;
	right: 10px;
	top: 14px;
	color: var(--white);
	font-size: 10px;
}

.ui-damage-dealt-unit-bar-container {
	position: absolute;
	bottom: 8px;
	left: 55px;
	right: 10px;
	height: 8px;
	outline: 1px solid black;
	background-color: rgba(0, 0, 0, 0.5);
}

.ui-damage-dealt-unit-bar {
	position: absolute;
	height: 100%;
	transition: .1s;
}

.ui-damage-dealt-unit-bar-previous {
	position: absolute;
	height: 100%;
}

/* OTHER */
.wave-completed {
	position: absolute;
	top: 40%;
	width: 100%;
	transform: translate(0, -50%);
	color: var(--white);
	font-size: 48px;
	line-height: 64px;
	height: 60px;
	opacity: 0;
	transition: opacity 0.5s ease;
	z-index: 1;
	text-align: center;
	pointer-events: none;
	background: radial-gradient(circle, rgba(0,0,0,0.9) 30%, rgba(0,0,0,0) 90%);
}

.team-saved-message {
	position: absolute;
	bottom: 30px;
	left: 200px;
	right: 200px;
	color: var(--white);
	font-size: 20px;
	line-height: 26px;
	height: 25px;
	opacity: 0;
	transition: opacity 0.5s ease;
	z-index: 9999;
	text-align: center;
	background: radial-gradient(circle, rgba(20,20,20,0.9) 30%, rgba(0,0,0,0) 90%);
}

.secret-cacnea {
	position: absolute;
	top: 122px;
	left: 427px;
	width: 23px;
	height: 20px;

	z-index: 1;
	border-radius: 50%;
	cursor: pointer;
}

.secret-greavard {
	position: absolute;
	top: 314px;
	left: 620px;
	width: 23px;
	height: 20px;

	z-index: 1;

	cursor: pointer;
	border-radius: 5px;
}
/*
.secret-aipom {
	position: absolute;
	bottom: 0;
	left: 120px;
	width: 60px;
	height: 60px;
	background: red;
	z-index: 1;
	cursor: pointer;
}*/